{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TheDataStore - Register</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
          <form method="post">
              {% csrf_token %}
              <div class="form-group">
                  <div class="form-row">
            {% for field in form %}
      
<p>
        
{{ field.label_tag }}<br>

        {{ field }}

        {% if field.help_text %}

          <small style="display: none">{{ field.help_text }}</small>

        {% endif %}

        {% for error in field.errors %}

          <p style="color: red">{{ error }}</p>

        {% endfor %}
      
</p>
      
{% endfor %}
              </div>
            </div>
            <input type="submit",class="btn btn-primary btn-block", value = "Sign up">
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="{% url 'login' %}">Login Page</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  </body>

</html>
{% endblock %}